*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #181818;
}
header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 16vh;
    width: 100%;
    gap: 20px;
    background-color: blue;
    position: fixed;
}
.logo{
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    align-items: center;

}

.logo img{
    width: 180px;
    height: auto;
    margin-left: 20px;
    padding: 30px;
}


.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: white; 

}
.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}
.nav-links a:hover{
    color: #ff0000;
}


.login-btn{
    background-color: red;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
.login-btn:hover{
    background-color: #ff0000;
    color: white;
}

