/* service-section */

.service-title {
    font-size: var(--fs-medium);
    margin-bottom: 40px;
    color: var(--color-black);
  }
  .service-emoji {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .service-description {
    font-size: 1rem;
    color: var(--color-black);
    line-height: 1.5;
  }

  